.company{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem;
    flex-wrap: wrap;
    height: 100%;

}

.company > *{
    margin: 20px;
}

.specialize{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.thing{
    display: flex;
    margin: 30px;
}

.left{
    display: flex;
    padding: 10px;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: black;
    z-index: 2;
    color: white;
}

.right{
    display: flex;
    padding: 10px;
    padding-left: 100px;
    background-color: orange;
    z-index: 1;
}